* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container {
  background-color: aqua;
  border: 3px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: darkseagreen;
  border: 2px solid lime;
  height: 75px;
}

#page-content {
   background-color: darkgray;
   flex-grow: 1;
}

#footer {
  border: 3px dotted black;
  height: 75px;
}

